<tr>
  <td><%= recipe_food.food.name %></td>
  <td><%= "#{recipe_food.quantity}#{get_measurement_prefix(recipe_food.food.measurement_unit)}" %></td>
  <td><%= "$#{recipe_food.get_total_price}" %></td>
  <td>
    <div class="container_col-2">
      <a href="#" class="inline-button info">Modify</a>
      <%= button_to 'Remove', recipe_recipe_food_path(recipe_food), method: :delete, remote: true, class: 'inline-button danger' %>
    </div>
  </td>
</tr>
