<tr>
	<td><%= ingredient.name %></td>
	<td><%= "#{ingredient.general_food_quantity}#{get_measurement_prefix(ingredient.measurement_unit)}" %></td>
	<td><%= "$#{ingredient.general_price}" %></td>
</tr>