<div class="section-container">

  <h1 class="main-title">Foods List</h1>

  <div class="page-content">
    <table class="table">
      <thead class="table-header">
        <tr>
          <th>Food</th>
          <th>Measurement unit</th>
          <th>Unit price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <%= render partial: 'partials/table_food_item', collection: @foods, as: :food %>
      </tbody>
    </table>
  </div>
</div>
    <div class="btn-action">
      <%= link_to 'Add Food', '/', class: 'btn' %>
    </div>