<div class="section-container d-flex flex-column align-items-center">

  <h1 class="main-title">Foods List</h1>

  <div class="w-100">
    <div class="button-wrapper d-flex align-items-center">
      <%= link_to 'Add Food', new_food_path, class: 'btn primary-bg primary-text primary-border' %>
    </div>
    <table class="table">
      <thead class="table-header">
        <tr>
          <th>Food</th>
          <th>Measurement unit</th>
          <th>Unit price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <%= render partial: 'partials/table_food_item', collection: @foods, as: :food %>
      </tbody>
    </table>
  </div>
</div>