/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.links-container * {
  text-align: center;
  background: grey;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

#recipe-description {
  width: 100%;
}

#recipe_description {
  height: 300px;
}

.main_page_wrapper {
  width: 100%;
  padding: 1rem;
}

.display-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.radio-buttons {
  width: 20px;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 1rem 0;
}

.main-title {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: #178635;
  margin: 1.5rem 0;
  text-transform: capitalize;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  padding: 1rem 0;
}

.main-text {
  font-size: 1.15rem;
  font-weight: 400;
  color: #000;
  padding: 1rem 0;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.page-content {
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2.5rem 0;
}

.action-button {
  padding: 10px 20px;
  background-color: transparent;
  border: 1.5px solid #178635;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #178635;
  transition: all 0.3s ease-in-out;
}

.action-button:hover {
  background-color: #178635;
  color: white;
  box-shadow: 0 0 10px #b1b5b2;
  transform: scale(1.05);
}

.action-button.warning {
  border: 1.5px solid #ec950a;
  color: #ec950a;
}

.action-button.warning:hover {
  background-color: #ec950a;
  color: white;
}

.action-button.danger {
  border: 1.5px solid #a61b1b;
  color: #a61b1b;
}

.action-button.danger:hover {
  background-color: #a61b1b;
  color: white;
}

.inline-button {
  background-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: underline;
  border: none;
  outline: none;
  cursor: pointer;
}

.inline-button.info {
  color: #0554a3;
}

.inline-button.danger {
  color: #a61b1b;
}

.container_col-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

/* TOGGLE BUTTON */

.toggle-button {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.toggle-button-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.toggle-button .toggle-button__label {
  background-color: #e3e3e3;
  width: 4rem;
  height: 2rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}

.toggle-button .toggle-button__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px #000;
}

.toggle-button .toggle-button__label.is_public {
  background-color: #178635;
}

.toggle-button .toggle-button__label.is_public:before {
  transform: translateX(2rem);
}

/* FORM */
.form-wrapper {
  width: 100%;
}

.form-wrapper form {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.form-fields-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.form-fields-group label {
  font-size: 1.2rem;
  font-weight: 700;
}

.form-field {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #bbb6b6;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
}

.form-field:focus {
  outline: none;
  border: 2px solid #bdd4c4;
}

.form-wrapper form .actions {
  padding: 1rem 0;
}

/* TABLE */
.table {
  width: 100%;
  margin: 0.7rem 0;
  background-color: #fff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #f0f0f0;
  border-style: solid;
  color: #000;
}

.table td {
  border: 2px solid #f0f0f0;
}

.table td,
.table th {
  padding: 1rem;
  text-align: left;
}

.table .table-header {
  background-color: #080808;
  color: #fff;
}

.table .table-body tr:nth-child(odd),
.table .table-body tr:hover {
  background-color: #f6f6f6;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .main_section {
    padding: 1.5rem;
  }

  .form_container {
    width: 85%;
  }
  .container_col-2 {
    flex-direction: row;
  }

  .container_col-2.between {
    justify-content: space-between;
  }
}

@media (min-width: 998px) {
  .main_page_wrapper {
    max-width: 95%;
    padding: 3rem;
  }

  .form_container {
    width: 80%;
  }

  .form-wrapper.col-2-form form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .form-wrapper.col-2-form .form-fields-group {
    width: 48.5%;
  }
}

@media (min-width: 1024px) {
  .main_page_wrapper {
    max-width: 85%;
  }

  .form-wrapper {
    width: 75%;
  }
}

@media (min-width: 1180px) {
  .main_page_wrapper {
    max-width: 75%;
  }

  .form-wrapper {
    width: 70%;
  }
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.sign-button {
  padding: 10px 20px;
  background-color: #178635;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.notice,
.alert {
  width: 100%;
  text-align: center;
  color: white;
}

.notice {
  background-color: #178635;
}

.alert {
  background-color: red;
}

.recipes-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.recipes {
  display: flex;
  gap: 40px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  max-width: 554px;
  background-color: beige;
  width: 100%;
  justify-content: space-around;
}

.recipes-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

.Add-recipe,
.Remove-recipe {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.Add-recipe {
  background-color: #178635;
  color: white;
}

.Remove-recipe {
  background-color: red;
  color: white;
}

.recipes-links {
  color: black;
}
